# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# from a Cuda.gitignore I found online
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

# Some Random Stuff i dont want 
*.log
*.tlog
*.ilk
*.idb
*.pdb
*.exp
*.deps

# Visual Studio database files
*.VC.db
.vs/
/ParticleSimulation/x64/Debug
/ParticleSimulation/x64/Debug/*.exp
/ParticleSimulation/x64/Debug/*.pdb
